<tr>
  <% table_attributes_keys.each do |attribute| %>
    <% if attributes[attribute][:type] == :association %>
      <td><%= attributes[attribute][:display].call(resource) %></td>
    <% else %>
      <td><%= resource.send(attribute) %></td>
    <% end %>
  <% end %>
  <td><%= link_to 'Show', resource %></td>
  <td><%= link_to 'Edit', url_for([:edit, resource]) %></td>
  <td></td>
</tr>
