<!DOCTYPE html>
<html>
<head>
  <title>RailsPanel</title>
  <%= stylesheet_link_tag    "rails_panel/application" %>
  <%= javascript_include_tag "rails_panel/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
