<% if flash[:notice] %>
  <div class='alert alert-success'>
    <button class="close" data-dismiss="alert">×</button>
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class='alert alert-error'>
    <button class="close" data-dismiss="alert">×</button>
    <%= flash[:alert] %>
  </div>
<% end %>
